@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgb(7, 7, 49);
    font-family: 'Poppins', sans-serif;
}
header {
    text-align: center;
    background-color: rgb(201, 86, 33);
    border-radius: 10px;
    padding: auto;
}
.button1 {
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(5, 22, 117);

}
.button2 {
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(5, 22, 117);

}
.button3 {
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(5, 22, 117);

}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
 }
.containerpp {
    position: absolute;
    margin-top: 15px;
    margin-left: 8%;
    border-radius: 10px;
    background-color: rgb(214, 108, 21);
    width:80%;
    height: 70%;
    flex-wrap: nowrap;
}
    
h1 {
    color: rgb(0, 0, 0);
    font-size: 8vh;
}
h2 {
    color: orange;
}

.containerpp span {
    background-color: orange;
}
.containerpp img {
    height: 300px;
    width: 300px;
}
.containerpp p { 
    color: white;
}
.containera {
    position: absolute;
    background-color: rgb(3, 3, 83);
    width:80%;
    height: auto;
    flex-wrap: nowrap;
    top: 30px;
    left: 10%;
    border-radius: 20px;
}
.imagen {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 600px;
    height: auto;
}
.text{
    overflow: hidden;
}
.containera p {
    color: white;

}
.containera span {
    background-color: orange;
}
.containerm {
    border-radius: 15px;
    position: absolute;
    top: 30px;
    left: 10%;
    background-color: rgb(3, 3, 83);
    width:80%;
    height: 100%;
    flex-wrap: nowrap;
    text-align: center;
}
.containerm h2 {
    color: white;
    font-size: 3vh;
}
.containerm span{
    color: orange;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 10px;
    gap: 2.5rem;
}
.card {
    background-color: white;
    border-radius: 10px;
}
.card :hover {
    transform: scale(1.1);
}
.containerco {
    height: 100%;
    width: 80%;
    position: relative;
    background-color:rgb(167, 127, 79);
    flex-wrap: nowrap;
    text-align: center;
    padding: 30px;
}
.containert {
    height: 100%;
    width: 80%;
    position: relative;
    background-color: rgb(3, 3, 83);
    flex-wrap: nowrap;
    text-align: center;
    padding: 30px;
}

